<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:object="${student}">
        <p th:text="'Hello, ' + *{firstName} + *{lastName} + '!'" />
    </div>

    <div>
        <form th:action="@{/student/update}" th:object="${student}" th:method="post">
            <div class="container">
                <label><b>First Name</b></label>
                <input type="text" th:placeholder="*{firstName}" th:field="*{firstName}" required>

                <label><b>Last Name</b></label>
                <input type="text" th:placeholder="*{lastName}" th:field="*{lastName}" required>

                <input type="text" name="username" th:value="*{username}" hidden>

                <button type="submit">Update</button>
            </div>
        </form>
    </div>

    <div>
        <p th:text="${message}"></p>
    </div>
</body>
</html>